@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    height: 100%;
  }

  body {
    font-family: 'Inter', sans-serif;
    background: rgb(0, 88, 225);
    background: linear-gradient(
      0deg,
      rgba(0, 88, 225, 1) 0%,
      rgba(2, 24, 105, 1) 46%,
      rgba(26, 29, 41, 1) 100%
    );
    min-height: 100vh;
  }
}

@layer components {
  .btn {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
  }

  .bg-gradient {
    @apply bg-gradient-to-b from-brand-900 via-brand-600 to-brand-700;
  }
}
