.info-container {
  transition: all 0.3s ease-in-out; /* Añadir transición para la opacidad */
  transform: translateY(50%);
  opacity: 1; /* Ocultar inicialmente */
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  padding-bottom: 1rem;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px 10px 0 0;
}

.card-container:hover .info-container {
  transform: translateY(0%);
  background-color: rgba(0, 0, 0, 0.7);
}
